@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.modal-position{
  margin-left: 30%;  
  margin-top: 10%;
    
}

@media only screen and (max-width: 600px){
  .-translate-x-full.open {
    --tw-translate-x: 0%
  }
  .-translate-x-full.open.auto-width{
    width: auto;
  }
  .margin-responsive {
      margin-left: 0px;
    }
      
    .responsive-width{
      width: 100%;
    }
}
